doctype html
html(lang="en")
    head
        title= "File Metadata Service"
    body
        h3 Enter a file to see its size!
        p by Cole Trammer
        form(method="post" enctype="multipart/form-data")
            input(type="file" name="file")
            button(role="submit") Submit
